*.pid
*.xml
*.csr
*.crt
*.key
*.pyc
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
*.conf
pyozw.sqlite
.*
!/.storage/lovelace
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
